.query-builder-group {
    display: flex;
    flex-direction: column;
    background: rgba(255, 190, 95, 0.3);
    border-radius: .3rem;
    border: 1px solid #9f9f9f;
    padding: .5rem;
}

.query-builder-group__content {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.query-builder-group__rules {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
}

.query-builder-group__rule {
    margin-bottom: .5rem;
}
